// Media Queries
@mixin media($media) {
  @media screen and (max-width: $media) {
    @content;
  }
}
@mixin font-smoothing($value) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin user-select($value){
  -webkit-touch-callout: $value;
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value
}

@mixin box-sizing($box-sizing){
  -moz-box-sizing: $box-sizing;
  -webkit-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    -moz-transform: $transform;
    transform: $transform;
}

@mixin transition($transitions...) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    -o-transition: $transitions;
    transition:$transitions;
}

@mixin animation($animation, $fill-mode) {
    -moz-animation: $animation;
    -webkit-animation: $animation;
    animation: $animation;
    -moz-animation-fill-mode: $fill-mode;
    -webkit-animation-fill-mode: $fill-mode;
    animation-fill-mode: $fill-mode;
}

@mixin box-shadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

@mixin background-visibility($visibility) {
    -webkit-backface-visibility: $visibility;
    backface-visibility: $visibility;
}

// Top to bottom graden
@mixin linear-gradient($color,  $color-stops...) {
    background: $color;
    background: -moz-linear-gradient(top, $color-stops);
    background: -webkit-linear-gradient(top,  $color-stops);
    background: linear-gradient(to bottom,  $color-stops);
}

// For lined paper styling
@mixin lined-background($lineColor, $paperColor, $size) {
    background: $paperColor;
    background: -webkit-gradient(linear, 0 0, 0 100%, from($lineColor), color-stop(4%, $paperColor)) 0 4px;
    background: -webkit-linear-gradient(top, $lineColor 0%, $paperColor 8%) 0 4px;
    background: -moz-linear-gradient(top, $lineColor 0%, $paperColor 8%) 0 4px;
    background: -ms-linear-gradient(top, $lineColor 0%, $paperColor 8%) 0 4px;
    background: -o-linear-gradient(top, $lineColor 0%, $paperColor 8%) 0 4px;
    background: linear-gradient(top, $lineColor 0%, $paperColor 8%) 0 4px;
    -webkit-background-size: 100% $size;
    -moz-background-size: 100% $size;
    -ms-background-size: 100% $size;
    -o-background-size: 100% $size;
    background-size: 100% $size;
}
