// Colors
$perts-blue: #338EDD;
$header-blue: #338EDD;
$dark-blue: #005498;

$light-purple: #EAE0F0;
$dark-purple: #4A285E;

$highlight-yellow-1: #FFFBCC;
$highlight-yellow-2: #FFF8A9;
$highlight-yellow-3: #FFF57F;


$highlight-pink-1: #FFB3D0;
$highlight-pink-2: #FFA3C7;
$highlight-pink-3: #FF96BE;

$red: #D44848;
$green: #96D449;

$card-line-front: #D9EAF3;
$card-line-back: #C3D7E2;
$card-stripe: #FFC7D0;
$card-shade: #FAFAFA;
$card-shade-back: #F8F8F8;


// Fonts
$font-open-sans: "Open Sans", "Helvetica", "Arial", sans-serif;
$font-slabo: "Slabo 13px", "Open Sans", "Helvetica", "Arial", sans-serif;


// Media Sizes
$mobile: 480px;
$tablet: 640px;
$medium-desktop: 986px;
